*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: rgb(4, 4, 36);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.stopwatch{
    padding: 20px 24px;
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0,255,255,0.3);
    transition: box-shadow 0.3s ease-in, transform 0.3s ease-in-out;
}

.stopwatch:hover{
    box-shadow: 
      0 0 10px #00f7ff,
      0 0 10px #00f7ff,
      0 0 10px #00f7ff;
    transform: scale(1.25);
}


.timer{
    margin: 40px 50px;
    font-size: 50px;
    font-weight: 550;
    align-items: center;
    text-align: center;
}
.button{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    font-size: 20px;
    background: none;
    background: var(--clr);
    color: #fff;
    border: none;
    padding: 12px 24px;
    margin-inline: 12px;
 }
